[
    {
        "id": "6edb3e02.8ba58",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "43376973.a0f058",
        "type": "websocket in",
        "z": "6edb3e02.8ba58",
        "name": "sakuraio",
        "server": "d8cfbd82.32f69",
        "client": "",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "d869c120.1b612"
            ]
        ]
    },
    {
        "id": "8e89d2be.b4c79",
        "type": "switch",
        "z": "6edb3e02.8ba58",
        "name": "filter channel id",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 820,
        "y": 540,
        "wires": [
            [
                "92f25cb9.debcd",
                "81962548.2cc128",
                "25cb5864.1d3018",
                "54e3c894.062c88",
                "c7e05151.ba875",
                "6f913905.520608",
                "311339d5.617346",
                "40cacd85.368414",
                "e4d8d755.30d8c8",
                "d7238c9e.db3a3",
                "79dbb31e.0b198c",
                "9a5a753c.6ec1c8",
                "b2fa2924.230a88",
                "f7171ce7.2ca97",
                "366f4ebb.a4dc82",
                "1afbd869.169ae8"
            ]
        ]
    },
    {
        "id": "d869c120.1b612",
        "type": "json",
        "z": "6edb3e02.8ba58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 380,
        "y": 540,
        "wires": [
            [
                "8182aa06.ce3688"
            ]
        ]
    },
    {
        "id": "c8973cf8.14fcf",
        "type": "ui_gauge",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "20213b6f.3ac254",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "temp",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0080ff",
            "#80ff80",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "92f25cb9.debcd",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 1)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "c8973cf8.14fcf",
                "b03a5065.009ae"
            ]
        ]
    },
    {
        "id": "f2545127.8ced8",
        "type": "ui_gauge",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "20213b6f.3ac254",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1300,
        "y": 540,
        "wires": []
    },
    {
        "id": "25cb5864.1d3018",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 3)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "f2545127.8ced8",
                "d5683689.e9e1e8"
            ]
        ]
    },
    {
        "id": "c7e05151.ba875",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 5)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 760,
        "wires": [
            [
                "40508e62.e2d14"
            ]
        ]
    },
    {
        "id": "311339d5.617346",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 7)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 840,
        "wires": [
            [
                "39aa1c0c.e81b74"
            ]
        ]
    },
    {
        "id": "40cacd85.368414",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 8)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 880,
        "wires": [
            [
                "f3c9e468.2fcdd8"
            ]
        ]
    },
    {
        "id": "e4d8d755.30d8c8",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 9)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 920,
        "wires": [
            [
                "30ed6ac7.10ee86"
            ]
        ]
    },
    {
        "id": "d7238c9e.db3a3",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 10)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 960,
        "wires": [
            [
                "4ceab698.8b9bc8"
            ]
        ]
    },
    {
        "id": "6f913905.520608",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 6)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 800,
        "wires": [
            [
                "802a243d.0d4078"
            ]
        ]
    },
    {
        "id": "54e3c894.062c88",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 4)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 720,
        "wires": [
            [
                "2058cff9.df894"
            ]
        ]
    },
    {
        "id": "79379d67.2c01c4",
        "type": "ui_gauge",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "20213b6f.3ac254",
        "order": 3,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#0080ff",
            "#00ff80",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1300,
        "y": 460,
        "wires": []
    },
    {
        "id": "81962548.2cc128",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 2)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "79379d67.2c01c4",
                "41ab8893.0eb808"
            ]
        ]
    },
    {
        "id": "79dbb31e.0b198c",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 11)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 1000,
        "wires": [
            [
                "d00891fb.ec357"
            ]
        ]
    },
    {
        "id": "9a5a753c.6ec1c8",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "for (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 12)\n    {\n        channel_msg = msg.payload.payload.channels[i];\n        msg.payload = channel_msg.value.toFixed(1);\n        msg.timestamp = channel_msg.datetime;\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 1040,
        "wires": [
            [
                "3df3968f.03812a"
            ]
        ]
    },
    {
        "id": "b2fa2924.230a88",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "extract value",
        "func": "lat = 0.0;\nlon = 0.0;\nfor (var i = 0; i < msg.payload.payload.channels.length; i++)\n{\n    if (msg.payload.payload.channels[i].channel == 13)\n    {\n        lon = msg.payload.payload.channels[i].value;\n    } else if (msg.payload.payload.channels[i].channel == 14)\n    {\n        lat = msg.payload.payload.channels[i].value;\n    }\n}\n\nmsg.payload = {\n    lat: lat,\n\tlon : lon,\n\tlayer : \"GPS logging\",\n\tname : msg.payload.datetime,\n\ticon : \"globe\",\n\ticonColor : \"orange\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 1080,
        "wires": [
            [
                "a3910224.9525",
                "469652d8.972a5c",
                "6beb255b.2aee2c"
            ]
        ]
    },
    {
        "id": "2058cff9.df894",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "6add9bf.759ac64",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "acc_x",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1290,
        "y": 720,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "40508e62.e2d14",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "6add9bf.759ac64",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "acc_y",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1290,
        "y": 760,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "802a243d.0d4078",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "6add9bf.759ac64",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "acc_z",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1290,
        "y": 800,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "39aa1c0c.e81b74",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "ce190c12.cbba3",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "gyro_x",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1290,
        "y": 840,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f3c9e468.2fcdd8",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "ce190c12.cbba3",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "gyro_y",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1290,
        "y": 880,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "30ed6ac7.10ee86",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "ce190c12.cbba3",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "gyro_z",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1290,
        "y": 920,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4ceab698.8b9bc8",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "25aae553.4b180a",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "magnet_x",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1300,
        "y": 960,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d00891fb.ec357",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "25aae553.4b180a",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "magnet_y",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1300,
        "y": 1000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3df3968f.03812a",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "25aae553.4b180a",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "magnet_z",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1300,
        "y": 1040,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f7171ce7.2ca97",
        "type": "debug",
        "z": "6edb3e02.8ba58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 680,
        "wires": []
    },
    {
        "id": "469652d8.972a5c",
        "type": "worldmap",
        "z": "6edb3e02.8ba58",
        "name": "",
        "lat": "35.7019261",
        "lon": "139.7656515",
        "zoom": "18",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "x": 1630,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a3910224.9525",
        "type": "worldmap-tracks",
        "z": "6edb3e02.8ba58",
        "depth": "100",
        "name": "",
        "x": 1330,
        "y": 1160,
        "wires": [
            [
                "469652d8.972a5c"
            ]
        ]
    },
    {
        "id": "275db5b1.06daaa",
        "type": "ui_template",
        "z": "6edb3e02.8ba58",
        "group": "d621589.51610a8",
        "name": "worldmap iframe",
        "order": 1,
        "width": "18",
        "height": "18",
        "format": "<div style=\"width: 100%; height: 100%\">\n    <iframe src=\"/worldmap\" style=\"width: 100%; height: 100%\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1330,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b03a5065.009ae",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "20213b6f.3ac254",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1290,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "41ab8893.0eb808",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "20213b6f.3ac254",
        "order": 6,
        "width": "6",
        "height": "4",
        "label": "pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1300,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d5683689.e9e1e8",
        "type": "ui_chart",
        "z": "6edb3e02.8ba58",
        "name": "",
        "group": "20213b6f.3ac254",
        "order": 5,
        "width": "6",
        "height": "4",
        "label": "humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1300,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c587546c.706598",
        "type": "inject",
        "z": "6edb3e02.8ba58",
        "name": "on startup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "f4952e00.c38a1"
            ]
        ]
    },
    {
        "id": "f4952e00.c38a1",
        "type": "file in",
        "z": "6edb3e02.8ba58",
        "name": "restore from log file",
        "filename": "/log/restore-log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "233e83df.e9333c"
            ]
        ]
    },
    {
        "id": "87b3d685.8ec2c8",
        "type": "file",
        "z": "6edb3e02.8ba58",
        "name": "write to restore-log file",
        "filename": "/log/restore-log",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 680,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "233e83df.e9333c",
        "type": "json",
        "z": "6edb3e02.8ba58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 720,
        "wires": [
            [
                "b1c7da16.c49ac8"
            ]
        ]
    },
    {
        "id": "ba492177.766d6",
        "type": "debug",
        "z": "6edb3e02.8ba58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 640,
        "y": 840,
        "wires": []
    },
    {
        "id": "6c2a5340.d9dcbc",
        "type": "inject",
        "z": "6edb3e02.8ba58",
        "name": "add dummy point",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 790,
        "y": 1160,
        "wires": [
            [
                "a2bc4585.b767d8"
            ]
        ]
    },
    {
        "id": "a2bc4585.b767d8",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "generate dummy",
        "func": "msg.payload = {\n    lat: 35.7019261 + (Math.random() - 0.5) / 1000,\n\tlon : 139.7656515 + (Math.random() - 0.5) / 1000,\n\tlayer : \"GPS logging\",\n\tname : \"kanda\",\n\ticon : \"globe\",\n\ticonColor : \"orange\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1160,
        "wires": [
            [
                "a3910224.9525",
                "469652d8.972a5c",
                "6beb255b.2aee2c"
            ]
        ]
    },
    {
        "id": "6beb255b.2aee2c",
        "type": "debug",
        "z": "6edb3e02.8ba58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1690,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b1c7da16.c49ac8",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "last 3hour filter",
        "func": "if (Date.parse(msg.payload.datetime) > (Date.now() - 3 * 3600 * 1000))\n{\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 720,
        "wires": [
            [
                "8e89d2be.b4c79",
                "ba492177.766d6"
            ]
        ]
    },
    {
        "id": "c75bbee4.ec4f4",
        "type": "ui_text",
        "z": "6edb3e02.8ba58",
        "group": "6bb8e386.400ccc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "received datetime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 300,
        "wires": []
    },
    {
        "id": "366f4ebb.a4dc82",
        "type": "ui_text",
        "z": "6edb3e02.8ba58",
        "group": "6bb8e386.400ccc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "module ID",
        "format": "{{msg.payload.module}}",
        "layout": "row-spread",
        "x": 1310,
        "y": 340,
        "wires": []
    },
    {
        "id": "16aaddcf.8882a2",
        "type": "inject",
        "z": "6edb3e02.8ba58",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 870,
        "y": 260,
        "wires": [
            [
                "44cef2fb.28715c"
            ]
        ]
    },
    {
        "id": "98cd6c56.52448",
        "type": "ui_text",
        "z": "6edb3e02.8ba58",
        "group": "6bb8e386.400ccc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "current datetime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 260,
        "wires": []
    },
    {
        "id": "44cef2fb.28715c",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "convert to datetime string",
        "func": "msg.payload = Date(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "98cd6c56.52448"
            ]
        ]
    },
    {
        "id": "1afbd869.169ae8",
        "type": "function",
        "z": "6edb3e02.8ba58",
        "name": "convert to datetime string",
        "func": "msg.payload = Date(msg.payload.datetime);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "c75bbee4.ec4f4"
            ]
        ]
    },
    {
        "id": "8182aa06.ce3688",
        "type": "switch",
        "z": "6edb3e02.8ba58",
        "name": "filter module id",
        "property": "payload.module",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "%MODULE_ID%",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "8e89d2be.b4c79",
                "87b3d685.8ec2c8"
            ]
        ]
    },
    {
        "id": "d8cfbd82.32f69",
        "type": "websocket-listener",
        "z": "",
        "path": "wss://api.sakura.io/ws/v1/%WEBSOCKET_TOKEN%",
        "wholemsg": "false"
    },
    {
        "id": "20213b6f.3ac254",
        "type": "ui_group",
        "z": "",
        "name": "BME280",
        "tab": "e888a452.a161c8",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "6add9bf.759ac64",
        "type": "ui_group",
        "z": "",
        "name": "MPU9250-accelerometer",
        "tab": "e888a452.a161c8",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "ce190c12.cbba3",
        "type": "ui_group",
        "z": "",
        "name": "MPU9250-gyro",
        "tab": "e888a452.a161c8",
        "order": 4,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "25aae553.4b180a",
        "type": "ui_group",
        "z": "",
        "name": "MPU9250-magnetometer",
        "tab": "e888a452.a161c8",
        "order": 5,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "d621589.51610a8",
        "type": "ui_group",
        "z": "",
        "name": "XA1110-GNSS log",
        "tab": "e888a452.a161c8",
        "order": 6,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "6bb8e386.400ccc",
        "type": "ui_group",
        "z": "",
        "name": "Module",
        "tab": "e888a452.a161c8",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "e888a452.a161c8",
        "type": "ui_tab",
        "z": "",
        "name": "ホーム",
        "icon": "dashboard"
    }
]